.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    border-radius: .25em;
    padding: .25em .5em;
    transition: all 0.3s ease 0s;
}

.btn-header {
    color: white;
    background-color: $orange;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-header:hover {
    color: white;
    background-color: $dark-blue;
}

.btn-nav {
    background-color: transparent;
    color: white;
    margin-right: .25em;
}

.btn-nav:hover {
    color: orange;
    border: 1px solid transparent
}

.btn-nav:hover::after {
    content: "";
    display: inline-block;
    width: .25em;
    height: .25em;
    border-radius: 50%;
    background-color: $orange;
    margin-left: .5em;
}