.card-container {
    width: 18em;
    height: 20em;
    border-radius: 2.5em;
    padding: 2.5em;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin: 1em;
    -webkit-box-shadow: 0 0 2em 0 $light-grey;
    -moz-box-shadow: 0 0 2em 0 $light-grey;
    box-shadow: 0 0 2em 0 $light-grey;
}

.card-description {
    font-size: 1em;

    p {
        display: inline-block;
        margin-right: .5em;
    }
}

.card-symbol {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid white;
    text-decoration: none;
    border-radius: .25em;
    font-size: 1.3em;
    padding: .25em .5em;
    transition: all 0.3s ease 0s;
}

.card-amount {
    font-size: 1.5em;
}