.card-container {
    width: 16em;
    height: 18em;
    border-radius: $card-radius;
    padding: 2.5em;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease 0s;
}

.card-container-collapsed {
    width: 16em;
    height: 5em;
    border-radius: $card-radius;
    padding: 0 1em;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease 0s;
}

.card-description {
    font-size: 1em;
    position: relative;

    p {
        display: inline-block;
        margin-right: .5em;
        transition: all 0.3s ease 0s;
    }

    transition: all 0.3s ease 0s;
}

.card-symbol {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid white;
    text-decoration: none;
    border-radius: .25em;
    font-size: 1.3em;
    padding: .25em .5em;
    transition: all 0.3s ease 0s;
}

.card-amount {
    font-size: 1.5em;
    position: relative;
    transition: all 0.3s ease 0s;
}