.side-nav {
    width: 0;
    position: fixed;
    z-index: 1;
    bottom: 4em;
    right: 1em;
    background-color: $dark-blue;
    overflow-x: hidden;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    border-radius: 1em;

    @include small-and-above {
        height: 100%;
        bottom: 0;
        right: 0;
        border-radius: 0;
        padding: 2em;
    }
}