$orange: #F7832F !default;
$light-blue: #71B7C2 !default;
$dark-grey: #6D6D6D !default;
$light-grey: #ECECEC !default;
$dark-blue: #333645 !default;

$text-color: $dark-blue !default;

$link-color: $orange !default;

$background-primary: $orange !default;
$background-secondary: $dark-blue !default;
$background-tertiary: $light-blue !default;
$background-quaternary: $dark-grey !default;
$background-quinary: $light-grey !default;