$gutter: 30px;
$gutter-margin: ($gutter / 2);
/* Content Container */

.container {

    @include small-and-above {
        padding-right: $gutter-margin;
        padding-left: $gutter-margin;
    }

    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
    height: 100vh;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-left: 1em;
}

.hide {
    display: none;
}

.trans-container {
    position: relative;

    > p {
        color: $dark-blue;
        margin: 0 1em;
        padding: .25em .5em;
        font-weight: bold;
    }
}

.trans-pending {
    display: flex;
    justify-content: center;
}

.modal-btns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}