.background-primary {
    background: $background-primary;
    color: white;
}

.background-secondary {
    background: $background-secondary;
    color: white;
}

.background-tertiary {
    background: $background-tertiary;
}

.background-quaternary {
    background: $background-quaternary;
    color: white;
}

.background-quinary {
    background: $background-quinary;
}